@mixin seccion-dos(){
	p{
		margin: 57px 75px 10px;
		padding:15px;
	}
	.title {
		color: #333;
		font-family: "pompiere",cursive;
		font-size: 3em;
		line-height: 45px;
		text-align: center;
		text-transform: capitalize;
	}
	.subtitle {
		color: #666;
		font-size: 14px;
		font-weight: 400;
		line-height: 25px;
		margin: 0 auto;
		text-align: center;
		width: 75%;

	}
}


//TOOLS
@mixin seccion-tres(){
	font-family: "pompiere",cursive;
	.container-fluid{
		background-color:#F4F4F4;
    //position:relative;


    .tres {
    	position: relative;
    	.overlay1 {
    		position: absolute;
    		bottom: 2px;
    		left: 10px;
    		right: 0;
    		background-color: rgba(10,16,16,.5);
    		overflow: hidden;
    		width: 95%;
    		height: 0;
    		transition: .5s ease;

    		.text {
    			padding-bottom: 140px;
    			white-space: nowrap; 
    			color: white;
    			font-size: 20px;
    			position: absolute;
    			overflow: hidden;
    			top: 80%;
    			left: 50%;
    			transform: translate(-50%, -50%);
    			-ms-transform: translate(-50%, -50%);
    		}
    		.image {
    			display: block;
    			width: 100%;
    			height: auto;
    		}
    	}
    	.btn{
    		background-color: #9dc100;
    		color:white;
    		border-radius: 18px;
    		font-family: 'Lato', sans-serif;
    		font-size: 12px;
    	}
    	.btn:hover {
    		background: transparent;
    		color: #9dc100;

    	}

    	&:hover .overlay1 {
    		height: 98%;
    	}
    }
    h4{
    	text-align: center;
    	margin-top: -27px;
    	margin-bottom: 16px;
    	color: white;

    }
    h3, p, {

    	color: white;
    	font-size: 20px;
    	padding:35px 15px 0 15px;;

    }
    p{
    	font-family: 'Lato', sans-serif;
    	font-size: 12px;
    }


    .image {
    	display: block;
    	width: 100%;
    	height: auto;
    }
    .cuadro_intro_hover{
    	padding: 0px;
    	position: relative;
    	overflow: hidden;
    	height: 200px;
    }
    .cuadro_intro_hover:hover .caption{
    	opacity: 1;
    	transform: translateY(-150px);
    	-webkit-transform:translateY(-150px);
    	-moz-transform:translateY(-150px);
    	-ms-transform:translateY(-150px);
    	-o-transform:translateY(-150px);
    }
    .cuadro_intro_hover img{
    	z-index: 4;
    }
    .cuadro_intro_hover .caption{
    	position: absolute;
    	top:150px;
    	-webkit-transition:all 0.3s ease-in-out;
    	-moz-transition:all 0.3s ease-in-out;
    	-o-transition:all 0.3s ease-in-out;
    	-ms-transition:all 0.3s ease-in-out;
    	transition:all 0.3s ease-in-out;
    	width: 100%;
    }
    .cuadro_intro_hover .blur{
    	background-color: rgba(0,0,0,0.7);
    	height: 300px;
    	z-index: 5;
    	position: absolute;
    	width: 100%;
    }
    .cuadro_intro_hover .caption-text{
    	z-index: 10;
    	color: #fff;
    	position: absolute;
    	height: 300px;
    	text-align: center;
    	top:-20px;
    	width: 100%;
    }
}


}

@mixin seccion-cuatro(){
	.hovereffect {
		width: 100%;
		height: 100%;
		float: left;
		overflow: hidden;
		position: relative;
		text-align: center;
		cursor: default;

	}
	.hovereffect .overlay {
		width: 100%;
		height: 100%;
		position: absolute;
		overflow: hidden;
		top: 0;
		left: 0;
		-webkit-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
	}

	.hovereffect:hover .overlay {
		background-color: rgba(170,170,170,0.4);
	}

	.hovereffect h2, .hovereffect img {
		-webkit-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
	}

	.hovereffect img {
		display: block;
		position: relative;
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
	}

	.hovereffect:hover img {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}

	.hovereffect h2 {
		text-transform: uppercase;
		color: #fff;
		text-align: center;
		position: relative;
		font-size: 17px;
		padding: 10px;
		background: rgba(0, 0, 0, 0.6);
	}

	.hovereffect a.info {
		display: inline-block;
		text-decoration: none;
		padding: 7px 14px;
		color: #fff;
		border: 1px solid #fff;
		margin: 50px 0 0 0;
		background-color: transparent;
		opacity: 0;
		filter: alpha(opacity=0);
		-webkit-transform: scale(1.5);
		-ms-transform: scale(1.5);
		transform: scale(1.5);
		-webkit-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
		font-weight: 200px;
		height: 85%;
		width: 85%;
		position: absolute;
		top: -20%;
		left: 8%;
		padding: 70px;
		font-size:18px;
	}

	.hovereffect:hover a.info {
		opacity: 1;
		filter: alpha(opacity=100);
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		background-color: rgba(240, 95, 64,0.4);
	}

	.title {
		color: #333;
		font-family: "pompiere",cursive;
		font-size: 3em;
		line-height: 45px;
		text-align: center;
		text-transform: capitalize;
	}
}

@mixin seccion-seis(){
	.container-fluid{
		background-image: url("../img/cta-bg-1.jpg")
	}
	p{
		margin: 57px 75px 10px;
		padding:15px;
	}
	.title {
		color: #333;
		font-family: "pompiere",cursive;
		font-size: 3em;
		line-height: 45px;
		text-align: center;
		text-transform: capitalize;
	}
	.texto {
		color: #666;
		font-size: 14px;
		font-weight: 400;
		line-height: 25px;
		margin: 0 auto;
		text-align: center;
		width: 75%;

	}
}





 



